# Better Auth
ENABLE_AUTH="true"
APP_BASE_URL="http://localhost:3000"
BETTER_AUTH_URL="http://localhost:3000"
BETTER_AUTH_SECRET="use [openssl rand -base64 32] to generate a 32+ char secret"

# Turso
TURSO_DATABASE_URL="libsql://XXXX.turso.io"
TURSO_AUTH_TOKEN="XXXX"

# Cloudflare R2
R2_BUCKET_NAME="XXXX"
R2_BUCKET_URL="XXXX"
R2_ACCESS_KEY="XXXX"
R2_SECRET_KEY="XXXX"
R2_ENDPOINT="XXXX"
